<div class="container-fluid bgFooter">
    <h1 class="mb-0">''</h1>
</div>
<div class="container-fluid bgFooter">
    <div class="container bgFooter footerTwo">
        <div class="row">
            <div class="col d-flex flex-column">
                <a routerLink="/" class="svgFooter"></a>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>