<div id="carouselHomeIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHomeIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselHomeIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHomeIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselHomeIndicators" data-bs-slide-to="3"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/img/imgCarousel/imgCarousel.jpeg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="./assets/img/imgCarousel/imgCarouselTwo.jpeg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="./assets/img/imgCarousel/imgCarouselThree.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="./assets/img/imgCarousel/imgCarouselFour.jpg" class="d-block w-100">
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="image-card perspective-left imageCardBackground"></div>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="fas fa-charging-station fontColor fs-1 pb-5"></i>
                    <p>Con la movilidad eléctrica podemos bajar los niveles de contaminación en nuestras ciudades, incluso recuperar la capa de ozono.</p>
                    <h5 class="fontColor py-3">¿Esto qué demuestra?</h5>
                    <p>Que la reducción de los gases tóxicos y CO2 en nuestro planeta, es una estrategia muy potente para hacer frente al cambio climático y frenarlo.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 my-5">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="fas fa-crown fontColor fs-1 pb-5"></i>
                    <h1 class="pb-5">Motores Bosch</h1>
                    <p>Lo sabemos, tenemos la mas alta tecnología para que disfrutes los recorridos con mayor tranquilidad.</p>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="image-card perspective-right imageCardBackgroundTwo"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 my-5">
            <div class="row">
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <div class="image-card perspective-left imageCardBackgroundThree"></div>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center text-center">
                    <i class="fas fa-volume-mute fontColor fs-1 pb-5"></i>
                    <h4>¿Te imaginas las ciudades sin ruidos de carros?</h4>
                    <p>Empecemos poniendo de nuestra parte.</p>
                    <h5 class="fontColor py-3">Pásate a NIU</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-6 d-flex align-items-center text-center flex-column justify-content-center">
            <i class="fas fa-biking fs-1 pb-5 fontColor"></i>
            <h1 class="pb-3">Diferentes colores</h1>
            <h2>Para diferentes personalidades</h2>
            <h3>Marca la diferencia</h3>
        </div>
        <div class="col-6">
            <div id="carouselOneHome" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner radiusCarousel">
                    <div class="carousel-item">
                        <img src="./assets/img/carouselTwoHome/twoCarouselTwo.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item active">
                        <img src="./assets/img/carouselTwoHome/threeCarouselTwo.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/carouselTwoHome/fourCarouselTwo.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/carouselTwoHome/fiveCarouselTwo.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/carouselTwoHome/sixCarouselTwo.jpg" class="d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselOneHome" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselOneHome" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-6">
            <div id="carouselTwoHome" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner radiusCarousel">
                    <div class="carousel-item">
                        <img src="./assets/img/carouselThreeHome/oneCarouselThree.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item active">
                        <img src="./assets/img/carouselThreeHome/twoCarouselThree.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/img/carouselThreeHome/threeCarouselThree.jpg" class="d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselTwoHome" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselTwoHome" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-6 d-flex align-items-center text-center flex-column justify-content-center">
            <i class="fas fa-route fs-1 pb-5 fontColor"></i>
            <h1 class="pb-3">Diferentes autonomias</h1>
            <h2>Para suplir todas tus necesidades</h2>
            <p class="pt-3 fs-5">Es momento de transportarse en moto eléctrica NIU.</p>
            <h3 class="fontColor">Que esperas!</h3>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row my-5">
        <div class="header d-flex align-items-center justify-content-center">
            <h2 class="fw-bold fs-1">NIU INSPIRE</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card cardShadow">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./assets/img/svg/homePageSvg/earthHomePage.svg" class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-8 containerCard">
                            <div class="card-body bodyCard">
                                <h1 class="card-title">10,500,634,500</h1>
                                <p class="card-text">Distancia total cubierta</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardShadow">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./assets/img/svg/homePageSvg/motoHomePage.svg" class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-8 containerCard">
                            <div class="card-body bodyCard">
                                <h1 class="card-title">22,500</h1>
                                <p class="card-text">Número de riders hoy</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card cardShadow">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./assets/img/svg/homePageSvg/cloudHomePage.svg" class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-8 containerCard">
                            <div class="card-body bodyCard">
                                <h1 class="card-title">2,625,616,896</h1>
                                <p class="card-text">CO₂ evitado</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardShadow">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./assets/img/svg/homePageSvg/treeHomePage.svg" class="img-fluid rounded-start"
                                alt="...">
                        </div>
                        <div class="col-md-8 containerCard">
                            <div class="card-body bodyCard">
                                <h1 class="card-title">131,280,512</h1>
                                <p class="card-text">Equivalente a planta este nº de pinos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
