@media (min-width: 1700px) {
    .fontResponsive{
        font-size: 2.5rem;
        padding-bottom: 5% !important;
    }

    .circleSelector{
        width: 4% !important;
        height: 35px !important;
    }
}

@media (min-width: 2500px) {
    .circleSelector{
        width: 4% !important;
        height: 55px !important;
    }
}

@media (min-width: 3500px) {
    .circleSelector{
        width: 4% !important;
        height: 80px !important;
    }

    .fontResponsive{
        font-size: 4rem;
        /* padding-bottom: 5% !important; */
    }

    .fontColorGrayTwo{
        color: #959595 !important;
        font-size: 3rem !important;
    }

    .imgBig{
        width: 80% !important;
    }

    .iconBig{
        font-size: 5rem !important;
    }
}


.fontColorGrayTwo{
    color: #959595 !important;
}

.fontColorRed{
    color: #DF001F!important;
}

.circleSelector{
    width: 4%;
    height: 26px;
    border-radius: 100%;
    border: 0.026667rem solid #eee;
    cursor: pointer;
    overflow: hidden;
    margin-right: 2%;
}

.bgGray{
    background-image: linear-gradient(90deg, rgb(85, 85, 85) 50%, rgb(68, 68, 68) 50%) !important;
}

.bgVeryDark{
    background-image: linear-gradient(90deg, rgb(0, 0, 0) 50%, rgb(17, 17, 17) 50%) !important;
}

.titleUrban{
    position: absolute;
    top: 8.125vw;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3.125vw;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;
}

.relariveP{
    position: relative !important;
}